.input__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 1em auto;
}

.label {
    width: 30%;
    color: var(--black);
    font-weight: bold;
    font-style: italic;
}

.input {
    width: 70%;
    padding: .5em;
    color: var(--black);
    border: 1px solid var(--light-violet);
    border-radius: 5px;
}

.input:focus {
    background: rgba(3, 18, 47, 1);
    color: var(--white);
    border: none;
    outline: none;
    transition: all .5s ease-in-out;
}

/* MEDIA QUERIES */
@media (max-width: 480px){
    .input__container {
        width: 90%;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .input {
        width: 100%;
    }
}