.banner {
    position: relative;
    height: 60vh;
    width: 100%;
}

.img {
    position: fixed;
    top: 0;
}

.title {
    background: linear-gradient(var(--black), var(--dark-violet));
    box-shadow: 0px 10px 70px var(--black);
    border-radius: 15px;
    position: absolute;
    padding: .5em;
    margin: 0 2em;
    width: 30%;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* MEDIA QUERIES */
@media (max-width: 950px){
    .title {
        left: 25%;
        width: 50%;
    }
}

@media (max-width: 550px){
    .title {
        left: 30%;
        width: 60%;
    }
}

@media (max-width: 300px){

    .title {
        left: 25%;
        width: 70%;
    }
}